<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Market Tracker</title>

    <!-- https://fonts.google.com/ -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
      rel="stylesheet"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Cabeçalho -->
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3"
      >
        <div class="container">
          <a class="navbar-brand text-light" href="index.html"
            >Market Tracker</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          >
            <div class = "row justify-content-flex-end"> 
			 <ul class="navbar-nav flex-grow-1">              
			  <li class="nav-item">
                <a class="nav-link text-light" href="/">Pagina inicial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="sobre">Sobre</a>
              </li>			  
			  <li class="nav-item">
				<a class="nav-link text-light" href="login">Login</a>
              </li>		  
			  <li class="nav-item">
                <a class="nav-link text-light" href="cadastrarUsuario">Cadastre-se</a>
              </li>			  
             </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid body-content">
      <div class="container">
        <h2>Market Tracker - Cadastro</h2>

        <br />
        <br />
        <br />

        <form action="cadastrarUsuario" method="post">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Nome</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >E-mail</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="your password"
            />
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Senha acesso</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="your password"
            />
          </div>

          <button type="button" class="btn btn-secondary btn-lg">
            Cadastrar
          </button>
        </form>
        <br />
		
        <div class="text-left">                  
		  <p>Já tem uma conta? <a href="login.html">Login</a>.</p>
        </div>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />
    <footer class="border-top footer text-muted">
      <div class="container">
        © 2022 - Market Tracker - <a href="/sobre.html">Privacy</a>
      </div>
    </footer>
  </body>
</html>
