<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Market Tracker</title>

    <!-- https://fonts.google.com/ -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
      rel="stylesheet"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Cabeçalho -->
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3"
      >
        <div class="container">
          <a class="navbar-brand text-light" href="/"
            >Market Tracker - Busca de produtos</a
          >

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          >
            <div class="row justify-content-flex-end">
              <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                  <a class="nav-link text-light" href="/">Pagina inicial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/sobre">Sobre</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid body-content">
      <div class="container">
        <br />
        <h3>Qual produto deseja pesquisar? insira abaixo:</h3>
        <br />
        <form
          class="container"
          th:action="@{/listarProdutos}"
          th:object="${texto}"
          method="post"
        >
          <div class="mb-3">
            <input
              type="text"
              name="texto"
              th:field="*{texto}"
              class="form-control"
              id="descricaoProduto"
              placeholder="digite a descrição do produto"
            />
          </div>
          <br />
          <div>
            <button type="submit" class="btn btn-secondary btn-lg">
              Pesquisar
            </button>
          </div>
        </form>
      </div>
    </div>

    <br />
    <br />
    <!-------------------------------------- --------------Arrumar valor--------------------- -->
    <div class="container-fluid body-content">
      <main role="main" class="pb-3">
        <div class="container">
          <table class="table table-responsive table-striped">
            <tbody>
              <tr>
                <th>Ações</th>
                <th>ID</th>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Mercados</th>
                <th>Comprar este Produto</th>
              </tr>

              <tr th:each="produto : ${produtos}">
                <td>
                  <a href="/Prod/Edit?id=1"><img src="/img/edit.png" /></a>
                  <a href="/Prod/Delete?id=1"><img src="/img/delete.png" /></a>
                </td>
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.produto.nome}"></td>
                <td th:text="${produto.produto.nome}"></td>
                <td th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 0, 'POINT', 2, 'COMMA')}"></td>
                <td th:text="${produto.mercado.nome}"></td>
                <td>
                  <a
                    href="https://www.google.com/search?q=${produto.mercado.nome}"
                    >Comprar este produto</a
                  >
                  <!-- --------------Arrumar valor--------------------- -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <footer class="border-top footer text-muted">
      <div class="container">
        © 2022 - Market Tracker - <a href="/sobre">Mais</a>
      </div>
    </footer>
  </body>
</html>
