<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Market Tracker</title>

    <!-- https://fonts.google.com/ -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
      rel="stylesheet"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Cabeçalho -->
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3"
      >
        <div class="container">
        <img src="/materialize/img/logoWhiteMarketTracker.png" style="height: 10%; width: 10%;" >
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          >
            <div class = "row justify-content-flex-end"> 
			 <ul class="navbar-nav flex-grow-1">              
			  <li class="nav-item">
                <a class="nav-link text-light" href="/">Pagina inicial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/sobre">Sobre</a>
              </li>			    		  
             </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid body-content">
      <div class="container">
        <h2>Cadastrar Usuário</h2>

        <br />
        <br />
        <br />
	
		<!--onsubmit="download(cadastro.txt, this['text'].value)"-->
			
		<!--<form  action="cadastrarUsuario" method="post">-->
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuário</label>
            <input
              type="text"
              class="form-control"
              id="Usuario"
              placeholder="Digite um nome de usuário..."
            />
          </div>
          
          <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">E-mail</label>
          <input
            type="text"
            class="form-control"
            id="Email"
            placeholder="Digite um e-mail..."
          />
        </div>
        
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Confirme seu E-mail</label>
        <input
          type="text"
          class="form-control"
          id="ConfirmacaoEmail"
          placeholder="Confirme seu e-mail..."
        />
      </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Senha</label
            >
            <input
              type="password"
              class="form-control"
              id="Senha"
              placeholder="Digite uma senha..."
            />
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Confirmar senha </label
            >
            <input
              type="password"
              class="form-control"
              id="ConfirmacaoSenha"
              placeholder="Confirme sua senha..."
            />
          </div>			
		  
          <button type="button" onclick="getInputValue();" class="btn btn-secondary btn-lg">
            Cadastrar
          </button>
		  
		  <script language = "Javascript">
			async function getInputValue()
			{				
			
				let nome = document.getElementById("Usuario").value;
				let email = document.getElementById("Email").value;
				let ConfirmacaoEmail = document.getElementById("ConfirmacaoEmail").value;	
				let senha = document.getElementById("Senha").value;				
				let ConfirmacaoSenha = document.getElementById("ConfirmacaoSenha").value;				
				
				if(nome == "")
				{
					Swal.fire('Falha no cadastro','Usuário não preenchido! Por favor, digite um nome de usuário.','error');
				}
				else if(email == "") {
					Swal.fire('Falha no cadastro','E-mail não preenchido! Por favor, digite um e-mail.','error');
				}
				else if(senha == "")
				{
					Swal.fire('Falha no cadastro','Senha não preenchida! Por favor, digite uma senha.','error');
				}
				else if(senha != ConfirmacaoSenha)
				{
					Swal.fire('Falha no cadastro','As senhas digitadas não conferem. Por favor, verifique e tente novamente.','error');
					document.getElementById("Senha").value = '';
					document.getElementById("ConfirmacaoSenha").value = '';
				}
				else if(email != ConfirmacaoEmail)
				{
					Swal.fire('Falha no cadastro','Os email digitados não conferem. Por favor, verifique e tente novamente.','error');
					document.getElementById("Email").value = '';
					document.getElementById("ConfirmacaoEmail").value = '';
				}
				else
				{
					const urls = 'http://localhost:8009/cadastrarUsuario/' + nome + '/' + email + '/' + senha;
					
					let id = 0;
					
					//const object = { id, nome, email, senha };

					//const myInitPost = { method: "post", body: JSON.stringify(object), headers: { "Content-Type": "application/json", }, };
					
					 const myInitGet = { method: 'POST', headers: { "Content-Type": "application/json", }, };
					 
					//const dados = await fetch(urls, myInitPost);
				    //const elens = await dados.json();
				    
					 const dados = await fetch(urls, myInitGet);
					 const elens = await dados.json();
					    
					Swal.fire('Cadastro realizado!','Cadastro realizado com sucesso! Por favor, volte para a tela principal e realize o login.','success').then(function() {
					    window.location = "/";
					});
				}				
			}
			
			<!--function download(text)
			{
				var pom = document.createElement('a');
				pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + 

				encodeURIComponent(text));
				pom.setAttribute('download', "Cadastro.txt");

				pom.style.display = 'none';
				document.body.appendChild(pom);

				pom.click();

				document.body.removeChild(pom);
			}
			-->
		  </script>
		  
        <!--</form>-->
        <br />
		
        <div class="text-left">                  
		  <p>Já tem uma conta? <a href="/">Login</a>.</p>
        </div>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />
    <footer class="border-top footer text-muted">
      <div class="container">
        © 2022 - Market Tracker - <a href="/sobre">Mais</a>
      </div>
    </footer>
  </body>
</html>
