<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Market Tracker</title>

    <!-- https://fonts.google.com/ -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
      rel="stylesheet"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Cabeçalho -->
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3"
      >
        <div class="container">
            <img src="/materialize/img/logoWhiteMarketTracker.png" style="height: 10%; width: 10%;" >

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          >
            <div class="row justify-content-flex-end">
              <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                  <a class="nav-link text-light" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                	<a class="nav-link text-light" href="/">Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <div th:if="${ErrorMessage != null}">
    	<input type="hidden" id="errorMessage" th:value="${ErrorMessage}"/>
    	<script language="Javascript">
    		var message = document.getElementById("errorMessage").value;
    		Swal.fire('Produto não encontrado!', message,'warning');
    	</script>
    </div>
     
    <div class="container-fluid body-content">
      <div class="container">
        <br />
        <h2>Você precisa de um produto específico, ou deseja montar um carrinho?</h2>
      </div>
    </div>

    <div class="container-fluid body-content">
      <main role="main" class="pb-3">
      <div class="row mt-4">
      	<div class="col">
      		<div class="row justity-content-center">
      			<a class="btn btn-light" href="buscarProduto">
      				<img src="/materialize/img/shopping-bag.png" height="500" width="500">
      			</a>
      		</div>
      		<div class="row mt-4" style="text-align: center;">
  				<h3>Produto específico</h3>
  			</div>
        </div>
        <div class="col">
        	<div class="row">
        		<a class="btn btn-light" onclick="development();">
        			<img src="/materialize/img/shopping-cart.png" height="500" width="500">
        		</a>
        		
        		<script language = "Javascript">
        		    function development(){
        		 	Swal.fire('Em desenvolvimento','Essa feature ainda está em desenvolvimento, aguarde as próximas atualizações =)','info');
        		    }
        		</script>
        	</div>
        	<div class="row mt-4" style="text-align: center;">
    			<h3>Carrinho de produtos</h3>
    		</div>
         </div>
       </div>
      </main>
    </div>
    
 
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <footer class="border-top footer text-muted">
      <div class="container">
        © 2022 - Market Tracker - <a href="/sobre">Mais</a>
      </div>
    </footer>
  </body>
</html>
